<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="zjhr.com.mapper.ExpenseZjMapper" >
  <resultMap id="BaseResultMap" type="zjhr.com.pojo.ExpenseZj" >
    <id column="bxId" property="bxid" jdbcType="VARCHAR" />
    <result column="accountId" property="accountid" jdbcType="VARCHAR" />
    <result column="accountName" property="accountname" jdbcType="VARCHAR" />
    <result column="expDate" property="expdate" jdbcType="DATE" />
    <result column="staffType" property="stafftype" jdbcType="CHAR" />
    <result column="exp_comment" property="expComment" jdbcType="VARCHAR" />
    <result column="accountDate" property="accountdate" jdbcType="DATE" />
    <result column="accoutType" property="accouttype" jdbcType="CHAR" />
    <result column="accountComment" property="accountcomment" jdbcType="VARCHAR" />
    <result column="bxMoney" property="bxmoney" jdbcType="VARCHAR" />
    <result column="bxJob" property="bxjob" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    bxId, accountId, accountName, expDate, staffType, exp_comment, accountDate, accoutType, 
    accountComment, bxMoney, bxJob
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="zjhr.com.pojo.ExpenseZjExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from expense_zj
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from expense_zj
    where bxId = #{bxid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from expense_zj
    where bxId = #{bxid,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="zjhr.com.pojo.ExpenseZjExample" >
    delete from expense_zj
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="zjhr.com.pojo.ExpenseZj" >
    insert into expense_zj (bxId, accountId, accountName, 
      expDate, staffType, exp_comment, 
      accountDate, accoutType, accountComment, 
      bxMoney, bxJob)
    values (#{bxid,jdbcType=VARCHAR}, #{accountid,jdbcType=VARCHAR}, #{accountname,jdbcType=VARCHAR}, 
      #{expdate,jdbcType=DATE}, #{stafftype,jdbcType=CHAR}, #{expComment,jdbcType=VARCHAR}, 
      #{accountdate,jdbcType=DATE}, #{accouttype,jdbcType=CHAR}, #{accountcomment,jdbcType=VARCHAR}, 
      #{bxmoney,jdbcType=VARCHAR}, #{bxjob,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="zjhr.com.pojo.ExpenseZj" >
    insert into expense_zj
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="bxid != null" >
        bxId,
      </if>
      <if test="accountid != null" >
        accountId,
      </if>
      <if test="accountname != null" >
        accountName,
      </if>
      <if test="expdate != null" >
        expDate,
      </if>
      <if test="stafftype != null" >
        staffType,
      </if>
      <if test="expComment != null" >
        exp_comment,
      </if>
      <if test="accountdate != null" >
        accountDate,
      </if>
      <if test="accouttype != null" >
        accoutType,
      </if>
      <if test="accountcomment != null" >
        accountComment,
      </if>
      <if test="bxmoney != null" >
        bxMoney,
      </if>
      <if test="bxjob != null" >
        bxJob,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="bxid != null" >
        #{bxid,jdbcType=VARCHAR},
      </if>
      <if test="accountid != null" >
        #{accountid,jdbcType=VARCHAR},
      </if>
      <if test="accountname != null" >
        #{accountname,jdbcType=VARCHAR},
      </if>
      <if test="expdate != null" >
        #{expdate,jdbcType=DATE},
      </if>
      <if test="stafftype != null" >
        #{stafftype,jdbcType=CHAR},
      </if>
      <if test="expComment != null" >
        #{expComment,jdbcType=VARCHAR},
      </if>
      <if test="accountdate != null" >
        #{accountdate,jdbcType=DATE},
      </if>
      <if test="accouttype != null" >
        #{accouttype,jdbcType=CHAR},
      </if>
      <if test="accountcomment != null" >
        #{accountcomment,jdbcType=VARCHAR},
      </if>
      <if test="bxmoney != null" >
        #{bxmoney,jdbcType=VARCHAR},
      </if>
      <if test="bxjob != null" >
        #{bxjob,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="zjhr.com.pojo.ExpenseZjExample" resultType="java.lang.Integer" >
    select count(*) from expense_zj
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update expense_zj
    <set >
      <if test="record.bxid != null" >
        bxId = #{record.bxid,jdbcType=VARCHAR},
      </if>
      <if test="record.accountid != null" >
        accountId = #{record.accountid,jdbcType=VARCHAR},
      </if>
      <if test="record.accountname != null" >
        accountName = #{record.accountname,jdbcType=VARCHAR},
      </if>
      <if test="record.expdate != null" >
        expDate = #{record.expdate,jdbcType=DATE},
      </if>
      <if test="record.stafftype != null" >
        staffType = #{record.stafftype,jdbcType=CHAR},
      </if>
      <if test="record.expComment != null" >
        exp_comment = #{record.expComment,jdbcType=VARCHAR},
      </if>
      <if test="record.accountdate != null" >
        accountDate = #{record.accountdate,jdbcType=DATE},
      </if>
      <if test="record.accouttype != null" >
        accoutType = #{record.accouttype,jdbcType=CHAR},
      </if>
      <if test="record.accountcomment != null" >
        accountComment = #{record.accountcomment,jdbcType=VARCHAR},
      </if>
      <if test="record.bxmoney != null" >
        bxMoney = #{record.bxmoney,jdbcType=VARCHAR},
      </if>
      <if test="record.bxjob != null" >
        bxJob = #{record.bxjob,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update expense_zj
    set bxId = #{record.bxid,jdbcType=VARCHAR},
      accountId = #{record.accountid,jdbcType=VARCHAR},
      accountName = #{record.accountname,jdbcType=VARCHAR},
      expDate = #{record.expdate,jdbcType=DATE},
      staffType = #{record.stafftype,jdbcType=CHAR},
      exp_comment = #{record.expComment,jdbcType=VARCHAR},
      accountDate = #{record.accountdate,jdbcType=DATE},
      accoutType = #{record.accouttype,jdbcType=CHAR},
      accountComment = #{record.accountcomment,jdbcType=VARCHAR},
      bxMoney = #{record.bxmoney,jdbcType=VARCHAR},
      bxJob = #{record.bxjob,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="zjhr.com.pojo.ExpenseZj" >
    update expense_zj
    <set >
      <if test="accountid != null" >
        accountId = #{accountid,jdbcType=VARCHAR},
      </if>
      <if test="accountname != null" >
        accountName = #{accountname,jdbcType=VARCHAR},
      </if>
      <if test="expdate != null" >
        expDate = #{expdate,jdbcType=DATE},
      </if>
      <if test="stafftype != null" >
        staffType = #{stafftype,jdbcType=CHAR},
      </if>
      <if test="expComment != null" >
        exp_comment = #{expComment,jdbcType=VARCHAR},
      </if>
      <if test="accountdate != null" >
        accountDate = #{accountdate,jdbcType=DATE},
      </if>
      <if test="accouttype != null" >
        accoutType = #{accouttype,jdbcType=CHAR},
      </if>
      <if test="accountcomment != null" >
        accountComment = #{accountcomment,jdbcType=VARCHAR},
      </if>
      <if test="bxmoney != null" >
        bxMoney = #{bxmoney,jdbcType=VARCHAR},
      </if>
      <if test="bxjob != null" >
        bxJob = #{bxjob,jdbcType=VARCHAR},
      </if>
    </set>
    where bxId = #{bxid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="zjhr.com.pojo.ExpenseZj" >
    update expense_zj
    set accountId = #{accountid,jdbcType=VARCHAR},
      accountName = #{accountname,jdbcType=VARCHAR},
      expDate = #{expdate,jdbcType=DATE},
      staffType = #{stafftype,jdbcType=CHAR},
      exp_comment = #{expComment,jdbcType=VARCHAR},
      accountDate = #{accountdate,jdbcType=DATE},
      accoutType = #{accouttype,jdbcType=CHAR},
      accountComment = #{accountcomment,jdbcType=VARCHAR},
      bxMoney = #{bxmoney,jdbcType=VARCHAR},
      bxJob = #{bxjob,jdbcType=VARCHAR}
    where bxId = #{bxid,jdbcType=VARCHAR}
  </update>
  <select id="pageQuery" resultMap="BaseResultMap" >
    SELECT * FROM expense_zj ORDER BY bxId DESC LIMIT #{0},#{1}
  </select>
</mapper>